# dependencies
node_modules/
mobile/node_modules/

# expo
.expo/
mobile/.expo/
dist/
mobile/dist/
web-build/

# native builds
mobile/android/
mobile/ios/
mobile/*.apk
mobile/*.aab

# env
.env
.env.local

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# build artefacts
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# EAS local builds
mobile/build-*.tar.gz

# misc
.cache/
